.textstrong {
    font-weight: 500;
}

.info {
    display: flex;
    gap: 3px;
    font-weight: 500;
    text-decoration: none;
}

.info a {
    text-decoration: none;
    cursor: pointer;
}

.info a:hover {
    border-bottom: 1px solid black;
}